{% extends "base.html" %}


{% block content %}
<p>
You have multiple games on Steam, your friends probably even have more, but which of the do you BOTH own? Lets find out...
</p>


<p>
  To get the correct username (your Steam account has multiple IDs, Names, Nicks and Accountnames... It's a mess!) go to your profile, right click and "Copy Page Url". The last part will be your username
</p>

<form action="/select" , method="POST">
  <fieldset>
    <label for="username">Steam Username</label>
    <input type="text" name="username" id="username"/>
    <br>
    <input type="submit" value="Button" />
  </fieldset>
</form>
{% endblock %}
