<html>
  <head>
    <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  <header><a href="#" class="logo">WhatCanWePlayTogether?</a></header>
  </body>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>
